@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.capacitor-native body {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}
